body {
    width: 100%;
    overflow: hidden;
}

.main-content {
    height: 1645px;
}

.img-responsive {
    width: 100%;
}

.quater {
    width: 25%;
}

.fix-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 275px;
    width: 100%;
}

.main-content-img > img {
    width: 100%;
}


.nav-content-img {
    display: inline-flex;
}

.nav-content-img > div {
    width: 25%;
}

.nav-content-img > div > img{
    width: 100%;
}